//@import '../../../config-scss/rem-calc.scss';

$padding: 20px;
:host{
    .listagem{

        padding: $padding 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .pokemon{
            position: relative;
            display: flex;
            //width: calc(49% - 2.5rem);
            //width: calc(49% - 40px);
            width: 42%;
            height: 127px;
            background: var(--branco);
            padding: $padding;
            //margin-bottom: 10);
            //border-radius: 10);
            margin-bottom: 10px;
            border-radius: 10px;
            text-decoration: none;
            color: var(--primary-color);

            &__status{
                h2{
                    font-size: 22px;
                    font-style: italic;
                    font-weight: 700;
                    margin-bottom: 10px;
                    text-transform: capitalize;
                }

                ul{
                    display: flex;
                    flex-direction: column;

                    li{
                        background: var(--cinza);
                        font-size: 10px;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        border-radius: 50px;
                        width: 60px;
                        margin-bottom: 5px;
                        text-transform: capitalize;
                    }
                }
            }

            .flip-card{
                background-color: transparent;
                width: 60px;
                height: 60px;
                perspective: 1000px;
            }

            .flip-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.6s;
                transform-style: preserve-3d;
            }

            .flip-card:hover .flip-card-inner {
                transform: rotateY(180deg);
            }

            .flip-card-front, .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .flip-card-front {
                background-color: transparent;
            }
              
            .flip-card-back {
                background-color: transparent;
                transform: rotateY(180deg);
            }

            &__image{
                position: absolute;
                bottom: $padding;
                right: $padding;

                background: url('../../../assets/bg/background-list-pokemon.svg') no-repeat;
                width: 100px;
                height: 90px;

                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    width: 50px;
                    -moz-transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    transition: all 0.5s;
                }
            }

            &__image:hover{
                img{
                    -moz-transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }

            &__image:hover{
                img.img-back{
                    width: 60px;
                    -moz-transform: scale(1.8);
                    -webkit-transform: scale(1.8);
                    transform: scale(1.8);
                }
            }
        }
    }
}